# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that needs specific encoding and line endings on checkout.
*.ps1 text working-tree-encoding=cp1252 eol=crlf
