# Set default behaviour, force UNIX-style line endings.
* text=auto

# Declare files that needs specific encoding and line endings on checkout.
*.ps1 text working-tree-encoding=WINDOWS-1252 eol=crlf
packages-work.config text eol=crlf
