<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Core Windows stuff -->
    <package id="dotnetfx" />
    <package id="powershell" />
    <package id="vcredist-all" />
    <!-- Utilities -->
    <package id="7zip" />
    <package id="acrylic-dns-proxy" />
    <package id="autohotkey" />
    <package id="autoit" />
    <package id="bleachbit" />
    <package id="captura" />
    <package id="flashplayerplugin" />
    <package id="gpg4win" />
    <package id="keepass" />
    <package id="keepass-plugin-keeagent" />
    <package id="keepass-rpc" />
    <package id="keepassxc" />
	<package id="nextcloud-client" />
    <package id="x-mouse-button-control" />
    <!-- Web -->
    <package id="firefox" packageParameters="l=en-US" />
    <package id="firefox-dev" packageParameters="l=fr-FR" />
    <!-- Messaging -->
    <package id="hexchat" />
    <package id="riot-web" />
    <package id="telegram" />
    <!-- Graphics & Multimedia -->
    <package id="gimp" />
    <package id="inkscape" />
    <package id="paint.net" />
    <package id="spotify" />
    <package id="vlc" />
    <!-- Office & Editors -->
    <package id="adobereader" />
    <package id="libreoffice-fresh" installArguments="/CREATEDESKTOPLINK=0" />
    <package id="notepadplusplus" />
    <package id="pdfcreator" />
    <package id="pdfsam" />
    <package id="qownnotes" />
    <package id="vim" packageParameters="/NoDesktopShortcuts /NoContextMenu /InstallDir:$env:ProgramFiles\vim" />
    <package id="visualstudiocode" packageParameters="/NoDesktopShortcut /NoQuickLaunch" />
    <!-- CLI tools -->
    <package id="ffmpeg" />
    <package id="less" />
    <!-- Sysadmin & Dev tools -->
    <package id="adb" />
    <package id="anydesk" />
    <package id="docker-toolbox" installArguments="/COMPONENTS='dockercompose' /TASKS='modifypath,upgradevm'" />
    <package id="forticlientvpn" />
    <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /NoShellIntegration" />
    <package id="hashtab" />
    <package id="nmap" />
    <package id="openvpn" />
    <package id="pinginfoview" />
    <package id="postman" />
    <package id="python2" packageParameters="/InstallDir:$env:ProgramFiles\Python2" />
    <package id="python3" packageParameters="/InstallDir:$env:ProgramFiles\Python3" />
    <package id="rvtools" />
    <package id="shellcheck" />
    <package id="smartmontools" />
    <package id="sysinternals" />
    <package id="tortoisesvn" />
    <package id="vagrant" />
    <package id="virtualbox" packageParameters="/NoDesktopShortcut /NoQuickLaunch" />
    <package id="vmware-powercli-psmodule" />
    <package id="windirstat" />
    <package id="winscp" />
    <package id="wireshark" />
    <package id="wsltty" />
    <package id="x2go" />
  </packages>
