<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Core Windows stuff -->
    <package id="dotnetfx" />
    <package id="powershell" />
    <package id="powershell-core" installArguments="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1 ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1 REGISTER_MANIFEST=1 ENABLE_MU=1 USE_MU=1" />
    <package id="vcredist-all" />
    <!-- Utilities -->
    <package id="7zip" />
    <package id="acrylic-dns-proxy" />
    <package id="bleachbit" />
    <package id="displayfusion" />
    <package id="gnupg" />
    <package id="keepass" />
    <package id="keepass-plugin-keeagent" />
    <package id="keepass-rpc" />
    <package id="keepassxc" />
    <package id="nextcloud-client" />
    <package id="rufus" />
    <package id="winmerge" />
    <package id="x-mouse-button-control" />
    <!-- Web -->
    <package id="firefox" packageParameters="/l:en-US /NoDesktopShortcut" />
    <!-- Messaging -->
    <package id="hexchat" />
    <!-- Graphics & Multimedia -->
    <package id="gimp" />
    <package id="inkscape" />
    <package id="spotify" />
    <package id="vlc" />
    <!-- Office & Editors -->
    <package id="adobereader" packageParameters="/OverwriteInstallation" />
    <package id="libreoffice-still" />
    <package id="notepadplusplus" />
    <package id="pdfarranger" />
    <package id="vim" packageParameters="/NoDesktopShortcuts /NoContextMenu" />
    <package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
    <!-- General CLI tools -->
    <package id="ffmpeg" />
    <package id="less" packageParameters="/DefaultPager" />
    <!-- Sysadmin & Dev tools -->
    <package id="adb" />
    <package id="forticlientvpn" />
    <package id="git" packageParameters="/GitOnlyOnPath /NoShellIntegration /SChannel /NoOpenSSH /DefaultBranchName:main /Editor:VIM /FSMonitor" />
    <package id="nmap" />
    <package id="openhashtab" />
    <package id="openvpn" packageParameters="/WintunDriver" />
    <package id="pgadmin4" />
    <package id="pinginfoview" />
    <package id="rvtools" />
    <package id="shellcheck" />
    <package id="sysinternals" />
    <package id="tortoisesvn" />
    <package id="vagrant" />
    <package id="virtualbox" packageParameters="/NoDesktopShortcut /NoQuickLaunch" />
    <package id="windirstat" />
    <package id="winscp" />
    <package id="wireshark" />
  </packages>
