<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Core Windows stuff -->
    <package id="dotnetfx" />
    <package id="powershell" />
    <package id="vcredist-all" />
    <!-- Utilities -->
    <package id="7zip" />
    <package id="bleachbit" />
    <package id="geforce-experience" />
    <package id="handbrake" />
    <package id="keepassxc" />
    <package id="logitechgaming" />
    <package id="nextcloud-client" />
    <package id="rufus" />
    <!-- Networking -->
    <package id="picotorrent" />
    <!-- Web -->
    <package id="firefox" packageParameters="/NoTaskbarShortcut /NoDesktopShortcut /RemoveDistributionDir" />
    <!-- Messaging -->
    <package id="discord" />
    <package id="mumble" />
    <package id="teamspeak" />
    <package id="telegram" />
    <!-- Graphics & Multimedia -->
    <package id="obs-studio" />
    <package id="paint.net" />
    <package id="spotify" />
    <package id="vlc" />
    <!-- Gaming -->
    <package id="gfwlive" />
    <package id="goggalaxy" />
    <package id="origin" />
    <package id="steam" />
    <package id="uplay" />
    <package id="vortex" />
    <!-- Office & Editors -->
    <package id="notepadplusplus" />
    <!-- Sysadmin & Dev tools -->
    <package id="crystaldiskinfo.install" />
    <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /NoShellIntegration" />
    <package id="windirstat" />
  </packages>
